*, html, body {
    margin: 0;
    padding: 0.1px;
    box-sizing: border-box;
    font-family: "Lato";
}

body{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #f2f2f2;
}

.content{
    width:1020px;
    margin: 0 auto;
}

.get-a-qoute{
    padding: 70px 39px 34px 39px;
    background-color: #f06c64;
}
.get-a-qoute__header{
    margin: 0px 10px 10px 1px;
    font-size: 29px;
    line-height: 15px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.8px;
    word-spacing: 0.1px;
}
.get-a-qoute__h3{
    margin: 29px 0 0 2px;
    letter-spacing: 0.0px;
    word-spacing: 1.3px;
    width: 940px;
    height: 57px;
    font-size: 17px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 100;
    text-align: left;
}

.get-a-qoute__main{
    display: flex;
}

form{
    padding: 30px 0 0 1px;
}

.get-a-qoute__info{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
    word-spacing: -0.6px;
}

.get-a-qoute__input{
    width: 619px;
    background-color: #d6564f;
    border: solid 0px;
    border-radius: 5px;
    height: 38px;
    margin-top: 16px;
    padding-left: 14px;
    color: #ffffff;
    font-style: italic;
}

.get-a-qoute__input::placeholder, form textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
}

form textarea{
    width: 620px;
    background-color: #d6564f;
    border: solid 0px;
    border-radius: 6px;
    height: 202px;
    margin-top: 16px;
    padding: 7px 0 0 15px;
    resize: none;
    color: #fff;
}

.form textarea::placeholder {
    color: #f48c8f;
}

.get-a-qoute__info{
    padding: 46px 0 0 20px;
}

.get-a-qoute__info_contact-information{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
    word-spacing: -0.6px;
}

.get-a-qoute__info_contact-text{
    width: 300px;
    font-size: 12px;
    line-height: 21.999999px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
    margin: 11px 0 21px 0;
    letter-spacing: 0.0px;
    word-spacing: -0.5px;
}

.get-a-qoute__info_contact{
    display: flex;
    color: #ffffff;
    font-style: italic;
}

.get-a-qoute__info_contact a{
    width: 300px;
    font-size: 12px;
    line-height: 21.9999999px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0px;
    word-spacing: -0.0px;
    text-decoration: none;
    cursor: pointer;
}
.img-location{
    width: 8px;
    height: 12px;
    margin: 5px 12px 0 2px;
}
.img-phone{
    width: 10px;
    height: 12px;
    margin: 5px 12px 0 1px;
}

.img-mail{
    width: 13px;
    height: 9px;
    margin: 7px 10px 0 0px;
}

.form-button{
    border-radius: 9px;
    border: solid 1px #903530;
    color: #903530;
    padding: 4px;
    cursor: pointer;
}

.get-a-qoute__underline{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

footer{
    display: flex;
    height: 76px;
    background-color: #2d303a;
}

.copyright{
    display: flex;
    align-items: center;
    margin-left: 42px;
    font-size: 12px;
    color: #666d89;
    word-spacing: -1.1px;
}

.get-a-qoute__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 685px;
}
.get-a-qoute__contacts div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #666d89;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
}

.form__error {
    color: #fff4f6;
    text-align: left;
    font-size: 12px;
    display: block;
    margin: 1px 0 -15px 0;
    display: none;
}



.get-a-qoute__input:valid:not(:placeholder-shown) {
    background-color: rgba(0, 139, 0, 0.58);
}

.get-a-qoute__input:invalid:not(:placeholder-shown) {
    border: solid 1px red;
}
.get-a-qoute__input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}
.form-button:hover{
    background-color: #903530;
    color: #fff4f6;
}
.form-button:active{
    background-color: #2d303a;
}

.get-a-qoute__info_contact a:hover{
    animation-duration: 0.5s;
    animation-name: link-longer;
}

.contact:hover{
    animation-duration: 0.5s;
    animation-name: link-rotate;
    animation-fill-mode: forwards;
}
.contact:active{
    background-color: rgba(141, 147, 181, 0.66);
}

@keyframes link-rotate {
    to {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes link-longer {
    50%{
        letter-spacing: 3px;
    }
    to {
        letter-spacing: 0px;
    }
}

.get-a-qoute__input:focus, textarea:focus{
    background-color: #262e4c;
    outline: none;
}
