*, html, body {
    margin: 0;
    padding: 0.1px;
    box-sizing: border-box;
}
body{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #f2f2f2;
}

.content{
    width:1020px;
    margin: 0 auto;
}

header{
    display: flex;
    width: 100%;
    height: 89px;
    background-color: #2d303a;
}
.logo{
    display: flex;
    margin: 25px 0px 0 37px;
}
.logo p{
    color: #f06c64;
    margin: 4px 0 0 -1px;
    font-size: 22px;
}

h1{
    text-transform: uppercase;
    color: #fff;
    font-family: "Lato";
    font-size: 25px;
    margin: 6px 0px 0 1px;
    font-weight: 100;
}

nav {
    display: flex;
    margin: 12px 0 0 445px;
    align-items: center;
    justify-content: space-around;
    width: 384px;
}

nav a{
    text-decoration: none;
}

.nav__button_selected p{
    color: #f06c64;
}

nav a p{
    line-height: 19px;
    letter-spacing: 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato';
}

nav p {
    color: #5e647d;
    font-size: 25px;
    text-align: center;
}
nav div {
    color: #5e647d;
    font-size: 25px;
    text-align: center;
    padding-bottom: 13px;
    cursor: context-menu;
}
.main__topLine{
    width: 100%;
    height: 6px;
    background-color: #323746;
}
.main__bottomLine{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.slider{
    display: flex;
    height: 594px;
    background-color: #f06c64;
    align-items: center;
}
.sliderLeft{
    display: flex;
    justify-content: center;
    margin: 0 0 6px 42px;
}
.sliderRight{
    display: flex;
    justify-content: center;
    margin: 0 0 5px 89px;
}
.sliderLeft__img {
    height: 27px;
}
.sliderRight__img {
    height: 27px;
    transform: rotate(180deg);
}

.vertical{
    width: 30%;
    height: 100%;
}

.vertical__phone{
    position: relative;
    top: 51px;
    left: 51px;
    z-index: 1;
}
.vertical__phone_screen{
    position: relative;
    left: 53px;
    bottom: 483px;
    z-index: 2;
}

.vertical__phone_shadow{
    position: relative;
    left: 53px;
    bottom: 997px;
    z-index: 0;
}

.horizontal{
    width: 50%;
    height: 100%;
}
.horizontal__phone{
    transform: rotate(90deg);
    position: relative;
    top: 49px;
    left: 179px;
    z-index: 1;
}
.horizontal__phone_screen{
    position: relative;
    bottom: 397px;
    right: 5px;
    z-index: 2;
}
.horizontal__phone_shadow{
    position: relative;
    left: 182px;
    bottom: 998px;
    z-index: 0;
    transform: scale(1,-1) rotate(90deg);
}
