*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #f2f2f2;
    max-width: 1020px;
    width: 768px;
    width: 100%;
}

.content{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header{
    display: flex;
    width: 100%;
    max-width: 1020px;
    height: 89px;
    background-color: #2d303a;
    position: fixed;
    z-index: 13;
}
.logo{
    display: flex;
    margin: 26px 0px 0 37px;
}
.logo p{
    color: #f06c64;
    margin: 4.5px 0 0 1.3px;
    font-size: 22px;
}

h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    margin: 3px 0px 0 2px;
    font-weight: 100;
    letter-spacing: -0.5px;
}

nav {
    display: flex;
    margin: 9px 40.5px 0 auto;
    align-items: center;
    justify-content: end;
}

nav a {
    text-decoration: none;
    margin-left: 14px;
}

.selectedNav p{
    color: #f06c64;
}

nav a p{
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

nav p {
    color: #5e647d;
    font-size: 25px;
    text-align: center;
}
nav div {
    color: #5e647d;
    font-size: 17px;
    cursor: context-menu;
    margin: 0 0 9px 15px;
}

.slider__topLine{
    width: 100%;
    height: 6px;
    background-color: #323746;
    margin-top: 89px;
}
.slider__bottomLine{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}


.slider{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 56.24vw;
    max-height: 594px;
}

.sliderLeft{
    display: flex;
    justify-content: center;
    margin: -3px 0 6px 43px;
    position: absolute;
    z-index: 8;
}

.slides{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    right: 0;
}


.slider__content1{
    height: 100%;
    width: 100%;
    background-color: #f06c64;
    display: flex;
    position: relative;
}

.slider__content2{
    height: 100%;
    width: 100%;
    position: relative;
}

.sliderRight{
    display: flex;
    justify-content: center;
    margin: -3px 0px 5px 964px;
    position: absolute;
    z-index: 8;
}
.sliderLeft__img {
    height: 27px;
    cursor: pointer;
}
.sliderRight__img {
    height: 27px;
    transform: rotate(180deg);
    cursor: pointer;
}

.vertical{
    width: 30%;
    height: 100%;
    z-index: 5;
    margin: 0 0px 0 58px;
}

.vertical__phone{
    position: relative;
    top: 52px;
    left: 52px;
    z-index: 1;
}
.vertical__phone_screen{
    position: relative;
    left: 54px;
    bottom: 481px;
    z-index: 2;
}

.vertical__phone_shadow{
    position: relative;
    left: 54px;
    bottom: 995px;
    z-index: 0;
}

.vertical__phone_button{
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    bottom: 1074px;
    left: 140px;
    z-index: 9;
}
.horizontal__phone_button{
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    bottom: 1274px;
    left: 70px;
    z-index: 9;
}

.horizontal{
    width: 50%;
    height: 100%;
}
.horizontal__phone{
    transform: rotate(90deg);
    position: relative;
    top: 51px;
    left: 181px;
    z-index: 1;
}
.horizontal__phone_screen{
    position: relative;
    bottom: 395px;
    right: 4px;
    z-index: 2;
}
.horizontal__phone_shadow{
    position: relative;
    left: 184px;
    bottom: 995px;
    z-index: 0;
    transform: scale(1,-1) rotate(90deg);
}

.our-services{
    padding: 68px 0px 1px 40px;
}



.our-services__top h2{
    font-size: 29px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: -2px;
}

.our-services__top p{
    width: 940px;
    font-size: 17px;
    line-height: 30px;
    color: #767e9e;
    margin-top: 28px;
    letter-spacing: 0.3px;
    word-spacing: -0.6px;
    text-align: justify;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 26px 0 0;
}

.services__one{
    display: flex;
    width: 33%;
    margin-bottom: 30px;
}


.services__one_img{
    z-index: 10;

}
.services__one_img img{
    cursor: pointer;
    margin-top: 2px;
}

.services__one_text{
    margin: 1px 0 0 18px;
}

.services__one_text h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: 0.4px;
    word-spacing: -1.0px;
    text-align: justify;
}

.services__one_text p{
    width: 220px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    margin-top: 11px;
    letter-spacing: 0.2px;
    text-align: justify;
    word-spacing: -1.6px;
}
.our-services__bottomLine{
    width: 100%;
    background-color: #fff;
    height: 6px;
    margin-top: 30px;
}

nav a p:hover{
    margin-top: 3px;
    color: #6aa873;
}
@media (min-width:1020px){
    .sliderLeft:hover{
        margin-left: 40px;
    }
    .sliderRight:hover{
        margin-right: 40px;
    }
}
.sliderLeft img:hover, .sliderRight img:hover{
    height: 32px;
    width: 18px;
}


.services__one_img img:hover{
    animation-duration: 1s;
    animation-name: sl;
}

@keyframes sl {
    to {
        transform: rotate(360deg);
    }
}



.portfolio{
    background-color: #2d303a;
    width: 100%;
    display: block;
    padding: 68px 40px 68px 40px;
}

.portfolio__h2{
    color: #666d89;
}

.portfolio__h3{
    margin: 26px 0 0 0;
    color: #767e9e;
    letter-spacing: 0.13px;
}

h2{
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.7px;
}

h3{
    font-size: 18px;
    line-height: 31px;
    font-weight: 100;
    text-align: left;
    letter-spacing: 0.0px;
    word-spacing: -2.2px;
}

.sort-buttons{
    margin: 11px 0 0 2px;
    display: flex;
    justify-content: space-between;
    width: 288px;
}

.sort-buttons__button{
    color: #5d7081;
    border: solid 1px #5d7081;
    border-radius: 5px;
    padding: 2px 5px 4px 7px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 100;
    cursor: pointer;
    z-index: 10;
}

.sort-buttons__selected{
    color: #fff;
    border: solid 1px #fff;
}


.portfolio__images{
    margin-top: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    height: 606px;
    cursor: pointer;
    grid-column-gap: 19.5px;
    grid-row-gap: 14.5px;
    overflow: hidden;
}

.portfolio__images_selected{
    border: solid 5px #F06C64;
    height: 177px;
    width: 210px;
}

.about-us{
    background-color: #f2f2f2;
    padding: 69px 39px 67px 40px;
}

.about-us__h2{
    color: #666d89;
    letter-spacing: 0.4px;
}

.about-us__h3{
    margin-top: 26px;
    color: #767e9e;
    letter-spacing: -0.1px;
    text-align: justify;
    word-spacing: -0.8px;
}

.peoples{
    margin-top: 43px;
    width: 100%;
    display: grid;
    grid-template-columns: 301px 301px 301px;
    grid-template-rows: 1fr;
    grid-column-gap: 18.7px;
    grid-row-gap: 14.5px;
}

.peoples__one{
    display: block;
}

.peoples__one_name{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    margin: 14px 0 0 -1px;
    word-spacing: -1px;
    letter-spacing: 0.4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.peoples__one_description{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    letter-spacing: 0.08px;
    margin: 9px 0 0 -1px;
    width: 303px;
    word-spacing: -0.8px;
    text-align: left;
}

.peoples__one_contacts{
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin: 23px 0 0 1px;
}

.contact{
    border: solid 1px #747b94;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.partfolio__underline{
    height: 6px;
    width: 100%;
    background-color: #323746;
}
.about-us__underline{
    height: 5px;
    width: 100%;
    background-color: #ffffff;
}

.sort-buttons__button:hover{
    background-color: #4a4d58;
}
.image-contaner{
    z-index: 10;
}
.image-contaner img{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: transform 0.2s linear;
    height: 187px;
    width: 220px;
}
.image-contaner img:hover{
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transition: transform 0.3s linear;
}

.contact:hover{
    animation-duration: 0.5s;
    animation-name: link-rotate;
    animation-fill-mode: forwards;
}
.contact:active{
    background-color: rgba(141, 147, 181, 0.66);
}

@keyframes link-rotate {
    to {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.get-a-qoute{
    padding: 70px 39px 12px 39px;
    background-color: #f06c64;
}
.get-a-qoute__header{
    margin: 0px 10px 10px 1px;
    font-size: 29px;
    line-height: 15px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.8px;
    word-spacing: 0.1px;
}
.get-a-qoute__h3{
    margin: 29px 0 0 2px;
    letter-spacing: 0.19px;
    word-spacing: 0.06px;
    width: 940px;
    font-size: 17px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 100;
    text-align: justify;
}

.get-a-qoute__main{
    display: flex;
}

form{
    padding: 28px 0 0 1px;
}

.get-a-qoute__info{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
    word-spacing: -0.6px;
}

.get-a-qoute__input{
    width: 619px;
    background-color: #d6564f;
    border: solid 0px;
    border-radius: 5px;
    height: 38px;
    margin-top: 16px;
    padding-left: 15px;
    color: #ffffff;
    font-style: italic;
}

.get-a-qoute__input::placeholder, form textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    font-style: initial;
}

form textarea{
    width: 620px;
    background-color: #d6564f;
    border: solid 0px;
    border-radius: 6px;
    height: 202px;
    margin-top: 16px;
    padding: 7px 0 0 15px;
    resize: none;
    color: #fff;
}

.form textarea::placeholder {
    color: #f48c8f;
}

.get-a-qoute__info{
    padding: 44px 0 0 20px;
}

.get-a-qoute__info_contact-information{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
    word-spacing: -0.6px;
}

.get-a-qoute__info_contact-text{
    width: 300px;
    font-size: 12px;
    line-height: 21.6px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: justify;
    margin: 10px 0 24px 0;
    letter-spacing: 0.02px;
    word-spacing: -0.5px;
    word-break: break-all;
}

.get-a-qoute__info_contact{
    display: flex;
    color: #ffffff;
    font-style: italic;
}

.get-a-qoute__info_contact a{
    width: 300px;
    font-size: 12px;
    line-height: 21.9px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0px;
    word-spacing: -0.0px;
    text-decoration: none;
    cursor: pointer;
}
.img-location{
    width: 8px;
    height: 12px;
    margin: 5px 12px 0 2px;
}
.img-phone{
    width: 11px;
    height: 12px;
    margin: 5px 10px 0 1px;
}

.img-mail{
    width: 13px;
    height: 9px;
    margin: 8px 10px 0 0px;
}

.form-button{
    border-radius: 5px;
    border: solid 0px;
    color: #886A30;
    padding-top: 2px;
    margin: 13px 0 0 0;
    width: 136px;
    height: 39px;
    background-color: #FBC65F;
}

.get-a-qoute__underline{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

footer{
    display: flex;
    height: 76px;
    background-color: #2d303a;
}

.copyright{
    display: flex;
    align-items: center;
    margin-left: 42px;
    font-size: 12px;
    color: #666d89;
    word-spacing: -1.1px;
}

.get-a-qoute__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 685px;
}
.get-a-qoute__contacts div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #666d89;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
}

.form__error {
    color: #fff4f6;
    text-align: left;
    font-size: 12px;
    display: block;
    margin: 1px 0 -15px 0;
    display: none;
}



.get-a-qoute__input:valid:not(:placeholder-shown) {
    background-color: rgba(0, 139, 0, 0.58);
}

.get-a-qoute__input:invalid:not(:placeholder-shown) {
    border: solid 1px red;
}
.get-a-qoute__input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}
.form-button:hover{
    background-color: #903530;
    color: #fff4f6;
}
.form-button:active{
    background-color: #2d303a;
}

.get-a-qoute__info_contact a:hover{
    animation-duration: 0.5s;
    animation-name: link-longer;
}

.contact:hover{
    animation-duration: 0.5s;
    animation-name: link-rotate;
    animation-fill-mode: forwards;
}
.contact:active{
    background-color: rgba(141, 147, 181, 0.66);
}

@keyframes link-rotate {
    to {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes link-longer {
    50%{
        letter-spacing: 3px;
    }
    to {
        letter-spacing: 0px;
    }
}

.get-a-qoute__input:focus, textarea:focus{
    background-color: #262e4c;
    outline: none;
}


@-moz-document url-prefix() {
    .peoples__one_name{
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-weight: 900;
        text-align: left;
        margin: 14px 0 0 -1px;
        word-spacing: -1px;
        letter-spacing: 0.1px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .our-services__top h2 {
        letter-spacing: 0.4px;
    }
    .our-services__top p {
        width: 940px;
        line-height: 29.9px;
        text-align: justify;
        margin-top: 27px;
        letter-spacing: 0.02px;
        word-spacing: 1.0px;
    }

    .services__one_text {
        margin: 2px 0 0 18px;
    }

    .services__one_text h3 {
        font-size: 19px;
        line-height: 18px;
        letter-spacing: -0.8px;
        word-spacing: 0px;
    }
    .portfolio__h2 {
        letter-spacing: -0.2px;
    }
    .portfolio__images {
        margin-top: 20px;
    }
    .about-us__h2 {
        letter-spacing: -0.3px;
    }
    .get-a-qoute {
        padding: 69px 39px 36px 39px;
    }
    .get-a-qoute__header {
        letter-spacing: 0.1px;
    }
    .get-a-qoute__info_contact-information {
        letter-spacing: -0.1px;
    }
    .get-a-qoute__info_contact a {
        line-height: 20.9px;
    }
    .get-a-qoute__input::placeholder {
        line-height: 37px;
    }
    .get-a-qoute {
        padding-bottom: 41px;
    }
}

.messageFormBG{
    background-color: #000000db;
    position: fixed;
    top: 0;
    width: 1020px;
    height: 100%;
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;
}

.messageForm{
    font-size: 30px;
    color: aliceblue;
}

.messageForm__button{
    width: 60px;
    background-color: #55557d;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}

.header__mobile-button{
    display: none;
    width: 29px;
    height: 29px;
    margin: 22px 0px 0 20px;
    z-index: 30;
    padding-top: 3px;
    cursor: pointer;
}

.header__mobile-button_line{
    background-color: #fff;
    width: 25px;
    height: 2.4px;
    z-index: 30;
    margin-bottom: 7px;
    border-radius: 1px;
}

.burger__background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: #080a0b9e;
    z-index: 14;
    height: 100%;
}

.burger{
    z-index: 31;
    width: 72.6vw;
    background-color: #2D303A;
    padding: 0;
    height: 100%;
    -webkit-box-shadow: 18px 0px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 18px 0px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 18px 0px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 120px 0px 8px 0px rgba(0,0,0,0.26);
}

.nav__button_mobile{
    text-decoration: none;
}

.burger a p {
    line-height: 43px;
    letter-spacing: -0.8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;

}

.burger__header {
    display: flex;
}
.burger_nav{
    padding: 45.9vw 0 0 18.5vw;
}
.burger .header__mobile-button{
    display: flex;
    margin: 20px 0px 0 21px;
}
.burger .header__mobile-button .header__mobile-button_line{
    background-color: #fff;
    width: 2.4px;
    height: 25px;
    z-index: 30;
    margin-right: 7px;
    border-radius: 1px;
}
.logo-Mobile{
    margin: 25px 0 0 21px;
    display: flex;
}
.logo-Mobile p{
    color: #F06C64;
    margin: 1px 0 0px 1px;
}

@media (min-width: 320px) and (max-width: 767px){

    .header__mobile-button {
        display: block;
    }
    header {
        height: 71px;
    }
    .logo {
        margin: 5px 0px 0 26.4%;
        align-self: center;
    }
    h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 19px;
        margin: 0;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .logo p {
        color: #f06c64;
        font-size: 22px;
        bottom: 2px;
        margin: 0;
        position: relative;
    }
    nav {
        display: none;
    }
    .slider__topLine {
        width: 100%;
        height: 1px;
        background-color: #323746;
        margin-top: 70px;
    }
    .slider {
        height: 56vw;
        max-height: 594px;
    }

    .sliderLeft {
        margin: 2px 0 0 9px;
    }
    .sliderRight {
        margin: 2px 0 0 89.5vw;
    }
    .sliderRight__img , .sliderLeft__img{
        height: 25px;
    }
    .vertical {
        margin: 0 0px 0 10.54%;
    }
    .vertical__phone {
        top: 4.97vw;
        left: 0vw;
        width: 20.5vw;
    }
    .vertical__phone_screen {
        left: -0.0vw;
        top: -46.0vw;
        width: 55.0vw;
        bottom: 0;
    }
    .vertical__phone_shadow {
        left: 0.4vw;
        bottom: 0;
        top: -94.7vw;
        width: 22.55vw;
    }
    .vertical__phone_button {
        width: 4.5vw;
        height: 4.5vw;
        bottom: 103vw;
        left: 8.5vw;
    }
    .horizontal__phone {
        top: 4.98vw;
        left: 11.9vw;
        width: 20.5vw;
    }
    .horizontal__phone_screen {
        bottom: 0;
        left: -5.1vw;
        width: 54.4vw;
        top: -37.2vw;
    }
    .horizontal__phone_shadow {
        left: 12.4vw;
        bottom: 0;
        top: -94.1vw;
        width: 22.5vw;
    }
    .horizontal__phone_button {
        bottom: 120.4vw;
        left: 1.3vw;
        width: 4.5vw;
        height: 4.5vw;
    }
    .slider__bottomLine {
        height: 1px;
    }
    .our-services {
        padding: 34px 0px 0px 32px;
    }
    .our-services__top h2 {
        font-size: 30px;
        letter-spacing: 0.5px;
        word-spacing: -1.5px;
    }
    .our-services__top p {
        width: 77.6vw;
        margin-top: 27px;
        letter-spacing: 0.4px;
        word-spacing: 0px;
        text-align: left;
    }
    .services {
        padding: 26px 26px 3px 0;
    }
    .services__one {
        margin-bottom: 0px;
        width: 100%;
    }
    .services__one_img {
        margin-top: 2px;
    }
    .services__one_text {
        margin: 3px 0 0 18px;
        margin-bottom: 22px;
    }
    .services__one_text p {
        width: 56.1vw;
        font-size: 12px;
        line-height: 22px;
        margin-top: 10px;
        letter-spacing: -0.15px;
        word-spacing: 1.5px;
        height: auto;
    }

    .our-services__bottomLine {
        display: none;
    }
    .portfolio {
        padding: 51px 18px 39px 30px;
    }
    .portfolio__h2 {
        color: #666d89;
        letter-spacing: 0.2px;
    }

    .portfolio__h3 {
        margin: 26px 0 0 0;
        color: #767e9e;
        letter-spacing: -0.07px;
        text-align: left;
        word-spacing: -0.1px;
        width: 80vw;
    }

    .sort-buttons {
        margin: 14px 0 0 0px;
        width: 89%;
    }
    .sort-buttons__button {
        padding: 3px 6px 2px 6px;
    }

    .image-contaner img {
        height: 32.65vw;
        width: 38.4vw;
    }
    .portfolio__images {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 142vw;
        grid-column-gap: 0.9vw;
        grid-row-gap: 11.1px;
        overflow: hidden;
        width: 83vw;
    }

    .about-us {
        padding: 42px 30px 10px 30px;
    }
    .about-us__h2 {
        letter-spacing: 0.6px;
    }
    .about-us__h3 {
        margin-top: 26px;
        color: #767e9e;
        margin-left: 1px;
        letter-spacing: 0.0px;
        text-align: left;
        word-spacing: -0.6px;
        line-height: 30.3px;
    }
    .peoples {
        margin: 25px 0 0 1px;
        width: 100%;
        display: block;
    }
    .peoples__one {
        display: block;
        margin-bottom: 35px;
    }
    .peoples__one_photo{
        width: 80.1vw;
    }
    .peoples__one_name {
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-weight: 900;
        text-align: left;
        margin: 14px 0 0 0px;
        word-spacing: 0.0px;
        letter-spacing: 0.2px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .peoples__one_description {
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-weight: 400;
        letter-spacing: 0px;
        margin: 3px 0 0 0px;
        width: 79.9vw;
        word-spacing: 0;
        text-align: justify;
    }
    .peoples__one_contacts {
        width: 152px;
        margin: 11px 0 0 0px;
    }
    .about-us__underline {
        display: none;
    }

    .get-a-qoute {
        padding: 55px 39px 40px 29px;
    }
    .get-a-qoute__header {
        margin: 0px 10px 10px 1px;
        letter-spacing: 0.9px;
        word-spacing: 0px;
    }
    .get-a-qoute__h3 {
        margin: 29px 0 0 2px;
        letter-spacing: 0.19px;
        word-spacing: 1.5px;
        width: 79.5vw;
        font-size: 17px;
        line-height: 30px;
        color: #f0d8d9;
        font-weight: 100;
        text-align: left;
    }
    form {
        padding: 0px 0 0 1px;
    }
    .get-a-qoute__input {
        width: 80vw;
        border: solid 0px;
        border-radius: 5px;
        height: 38px;
        margin-top: 12px;
        padding-left: 7px;
        letter-spacing: -0.2px;
        word-spacing: 0.9px;
    }
    .get-a-qoute__main{
        display: block;
        margin-top: 11px;
    }
    form textarea {
        width: 80vw;
        height: 40.6vw;
        margin-top: 12px;
        padding: 5px 0 0 7px;
        resize: none;
        color: #fff;
    }

    .form-button {
        border-radius: 5px;
        border: solid 0px;
        color: #886A30;
        padding: 0 0 2px 0;
        margin: 11px 0 0 0;
        width: 80.3vw;
        height: 50px;
        background-color: #FBC65F;
    }
    .get-a-qoute__info {
        padding: 32px 0 0 1px;
    }
    .get-a-qoute__info_contact-information {
        letter-spacing: 0.2px;
    }
    .get-a-qoute__info_contact-text {
        width: 80.8vw;
        line-height: 22px;
        margin: 3px 0 12px 0;
        letter-spacing: 0.01px;
        word-spacing: 0.5px;
    }
    .get-a-qoute__info_contact {
        font-style: normal;
        margin-bottom: 3px;
    }

    .img-location {
        margin: 4px 13px 0 2px;
    }
    .img-phone {
        margin: 6px 11px 0 1px;
    }
    .img-mail {
        width: 13px;
        height: 10px;
        margin: 8px 10px 0 0px;
    }
    .get-a-qoute__underline {
        display: none;
    }
    footer {
        justify-content: center;
    }
    .copyright {
        display: none;
    }
    .get-a-qoute__contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width: 160px;
    }
    .get-a-qoute__contacts div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #666d89;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin: 0;
    }


}

@media (min-width: 768px) and (max-width: 1019px) {

    nav {
        display: flex;
        margin: 4px 40.5px 0 auto;
        align-items: center;
    }
    nav a {
        text-decoration: none;
        margin-left: 15px;
    }
    .slider__topLine {
        margin-top: 88px;
    }
    .slider {
        height: 57vw;
    }
    .sliderLeft {
        margin: 3px 0 0 3.8vw;
    }
    .sliderRight {
        margin: 3px 0px 5px 92.3vw;
    }

    .vertical__phone {
        top: 5.16vw;
        left: 3.17vw;
        width: 20.9vw;
    }

    .vertical__phone_screen {
        bottom: 46.0vw;
        left: 3.4vw;
        width: 55.6vw;
    }

    .vertical__phone_shadow {
        left: 3.5vw;
        bottom: 95.1vw;
        width: 22.9vw;
    }
    .vertical__phone_button {
        width: 4.5vw;
        height: 4.5vw;
        bottom: 103vw;
        left: 11.5vw;
    }

    .horizontal__phone {
        top: 5.2vw;
        left: 15.45vw;
        width: 20.9vw;
    }
    .horizontal__phone_screen {
        top: -37.8vw;
        left: -2.6vw;
        width: 56.1vw;
    }
    .horizontal__phone_shadow {
        left: 15.79vw;
        top: -95.4vw;
        width: 22.9vw;
    }
    .horizontal__phone_button {
        width: 4.5vw;
        height: 4.5vw;
        bottom: 122.4vw;
        left: 4.6vw;
    }


    .our-services {
        padding: 49px 0px 3px 40px;
    }

    .our-services__top p {
        width: 86.5vw;
        height: 56px;
        letter-spacing: 0.1px;
        word-spacing: 2.1px;
        text-align: justify;
    }
    .our-services__bottomLine {
        margin-top: 17px;
    }

    .services {
        padding: 68px 26px 0 0;
    }
    .services__one {
        width: 49.6%;
        margin-bottom: 47px;
    }

    .services__one_text h3 {
        line-height: 20px;
    }

    .services__one_text p {
        line-height: 22px;
        margin-top: 9px;
    }

    .portfolio__h3 {
        margin: 28px 0 0 0;
        letter-spacing: -0.2px;
        word-spacing: 0.0px;
        width: 81vw;
        text-align: justify;
    }

    .sort-buttons {
        margin: 10px 0 0 1px;
        width: 290px;
    }

    .portfolio__images {
        margin: 26px 0 0 -1px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 799px;
        grid-column-gap: 19px;
        grid-row-gap: 13.5px;
    }

    .image-contaner img {
        height: 184px;
        width: 216px;
    }

    .about-us {
        padding: 61px 39px 70px 40px;
    }
    .about-us__h3 {
        margin-top: 27px;
        margin-left: -1px;
        letter-spacing: 0px;
        word-spacing: -0.2px;
        width: 85.6vw;
        line-height: 30.3px;
    }

    .peoples {
        margin: 38px 0 0 2px;
        grid-template-columns: 27.9vw 27.9vw 27.9vw;
        grid-column-gap: 1.8vw;
    }
    .peoples__one_photo {
        width: 100%;
    }

    .peoples__one_name {
        margin: 9px 0 0 1px;
        letter-spacing: 0.2px;
    }

    .peoples__one_description {
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-weight: 400;
        letter-spacing: 0px;
        margin: 2px 0 0 1px;
        width: 100%;
        word-spacing: 0px;
        text-align: justify;
    }

    .peoples__one_contacts {
        margin: 11px 0 0 0px;
    }

    .get-a-qoute {
        padding: 64px 39px 39px 39px;
        width: 100%;
    }
    .get-a-qoute__header {
        margin: 0px 10px 10px 3px;
        letter-spacing: 0.8px;
        word-spacing: 0.5px;
    }
    .get-a-qoute__h3 {
        letter-spacing: 0.4px;
        word-spacing: 0.06px;
        width: 85.6vw;
    }
    form {
        padding: 12px 0 0 0px;
    }
    .get-a-qoute__input {
        width: 56.3vw;
        margin-top: 12px;
        padding-left: 10px;
    }
    form textarea {
        width: 56.3vw;
        height: 20.2vw;
        margin-top: 12px;
        padding: 5px 0 0 10px;
    }
    .form-button {
        margin: 14px 0 0 0;
        height: 38px;
    }
    .get-a-qoute__info {
        padding: 24px 0 0 29px;
    }

    .get-a-qoute__info_contact-information {
        letter-spacing: 0.1px;
        word-spacing: 1px;
    }

    .get-a-qoute__info_contact-text {
        width: 28.1vw;
        line-height: 22.2px;
        margin: 3px 0 10px 0;
        letter-spacing: 0.1px;
        word-spacing: 0px;
        word-break: normal;
    }
    .copyright {
        margin: 2px 0 0 39px;
        font-size: 13px;
        word-spacing: 0.7px;
    }

    .get-a-qoute__contacts {
        margin: 0 42px 0 auto;
    }
    .img-location {
        margin: 4px 12px 0 2px;
    }
    .img-phone {
        width: 12px;
        margin: 5px 10px 0 0px;
    }




}
